* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************
 *  COLOUR PALETTE 
 *
 *  baby powder
 *    hsl(70, 27%, 96%)
 *
 *  dark purple
 *    hsl(286.36, 31%, 14%)
 *
 *  orange soda
 *    hsl(7.06, 87%, 58%)
 *
 *  dark olive green
 *    hsl(98.1, 42%, 30%)
 *
 *  orange yellow
 *    hsl(44.39, 90%, 49%)
 *
 *  middle blue
 *    hsl(184.34, 52%, 68%)
 *
 *  orchid crayola
 *    hsl(321.67, 51%, 73%)
 *
 ************************/

/*** GENERAL STYLES ***/
body {
  background-color: hsl(70, 27%, 96%);
  color: #29182e;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

/*** UTILITY CLASSES ***/
.uppercase {
  text-transform: uppercase;
}

.orange {
  color: hsl(7.06, 87%, 58%);
}

.green {
  color: hsl(98.1, 42%, 30%);
}

.yellow {
  color: hsl(44.39, 90%, 49%);
}

.off-white {
  color: hsl(70, 27%, 96%);
}

/*** HEADER ***/
header {
  /* for positioning the bg image in absolute */
  position: relative;
  background-color: hsl(286.36, 31%, 14%);
}

nav {
  padding: 1.4rem 2rem;
}

/* main text logo */
nav span {
  font-size: 2rem;
  letter-spacing: 0.15rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}

.header-text h1 {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  /* padding: 1.5rem; */
  text-align: center;
}

.header-text p {
  text-align: center;
  line-height: 1.25;
  padding: 0 1.5rem;
}

.btn {
  margin: 1rem;
  padding: 0.8rem 2rem;
  background-color: hsl(7.06, 87%, 58%);
  color: hsl(70, 27%, 96%);
  font-size: 1.6rem;
  font-weight: 400;
  /* text-align: center; */
  border: none;
  border-radius: 30px;
}

section.header-text {
  margin: 40% auto;
}

/*** Social integrity section ***/
section.social-integrity {
  padding: 1rem 0;
  height: auto;
}

section.social-integrity img {
  display: block;
  width: 350px;
  margin: 1rem auto;
}

section.social-integrity h2 {
  letter-spacing: 0.15rem;
}

section.social-integrity h2,
section.social-integrity p {
  text-align: center;
  padding: 1.5rem;
  line-height: 1.25rem;
}

/*** Open platform section ***/
section.open-platform h2 {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

section.open-platform div {
  padding: 1.5rem;
}

section.open-platform article {
  padding: 1.5rem 0;
}

/*** FOOTER ***/
footer {
  background-color: hsl(286.36, 31%, 14%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* the text logo */
footer span {
  margin: 3.125rem 2rem;
  font-size: 2rem;
  letter-spacing: 0.15rem;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer div a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.15rem;
  color: hsl(44.39, 90%, 49%);
}

footer span.copyright {
  color: hsl(70, 27%, 96%);
  font-weight: 500;
  font-size: 1.25rem;
}

/*** LAYOUT ***/
nav {
  display: flex;
  justify-content: center;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 767px) {
  header {
    height: 100vh;
  }

  #get-started-desktop,
  .desktop-only-image {
    display: none;
  }

  #get-started-mobile {
    display: inline;
  }

  /* section.social-integrity */

  /* section.open-platform */
  section.open-platform div {
    margin: 0 auto;
    width: 16rem;
  }
    
}

@media screen and (min-width: 768px) {
  #get-started-desktop,
  .desktop-only-image {
    display: block;
  }

  #get-started-mobile {
    display: none;
  }
}
